<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jashn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DD67226257E2C027E880276F66AC9F0F90763ECA</string>
				<key>dateExpires</key>
				<string>21/10/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD67226257E2C027E880276F66AC9F0F90763ECA</string>
						<key>dateExpires</key>
						<string>21/10/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBAEMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7XJG666ZW</string>
						<key>name</key>
						<string>SIMFORM LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD67226257E2C027E880276F66AC9F0F90763ECA</string>
						<key>dateExpires</key>
						<string>21/10/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7XJG666ZW</string>
						<key>name</key>
						<string>SIMFORM LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD67226257E2C027E880276F66AC9F0F90763ECA</string>
						<key>dateExpires</key>
						<string>21/10/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit_Basics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7XJG666ZW</string>
						<key>name</key>
						<string>SIMFORM LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD67226257E2C027E880276F66AC9F0F90763ECA</string>
						<key>dateExpires</key>
						<string>21/10/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKGamingServicesKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7XJG666ZW</string>
						<key>name</key>
						<string>SIMFORM LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD67226257E2C027E880276F66AC9F0F90763ECA</string>
						<key>dateExpires</key>
						<string>21/10/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7XJG666ZW</string>
						<key>name</key>
						<string>SIMFORM LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>15.0.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DD67226257E2C027E880276F66AC9F0F90763ECA</string>
						<key>dateExpires</key>
						<string>21/10/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>K7XJG666ZW</string>
						<key>name</key>
						<string>SIMFORM LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>K7XJG666ZW.com.simform.jashn</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:vy1gc.test-app.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>K7XJG666ZW</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>K7XJG666ZW.com.simform.jashn</string>
				</array>
			</dict>
			<key>name</key>
			<string>jashn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>21758820-f3d7-474c-9418-fb30579bea8e</string>
				<key>dateExpires</key>
				<string>14/11/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.simform.jashn</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>K7XJG666ZW</string>
				<key>name</key>
				<string>SIMFORM LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
